

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid pe-5">
    <a class="navbar-brand text-primary p-lg-2" href="/user/home"><img src="assets/img/brand/QEdu.png" alt="" width="300px" height="100px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto m-lg-auto">
        <a routerLink="home" routerLinkActive="active-link"  class="nav-item nav-link">Lịch Thi</a>
        <a routerLink="exam" routerLinkActive="active-link" class="nav-item nav-link">Thi Ngay</a>
        <a routerLink="score" routerLinkActive="active-link" class="nav-item nav-link">Điểm Thi</a>
        <a routerLink="history" routerLinkActive="active-link" class="nav-item nav-link">Lịch Sử Thi</a>
      </div>
      <!-- <a class="btn" style="background-color: rgb(211, 240, 255);" routerLink="login" routerLinkActive="active-link">Đăng nhập</a> -->
    
        <div class="nav-account d-flex" data-bs-toggle="modal" data-bs-target="#profile">
          <div class="avarta-footer">
            <img
                  src="https://firebasestorage.googleapis.com/v0/b/vietfurniture-38c34.appspot.com/o/image%2FhoangThao.jpg?alt=media&token=ce883bde-7cca-4b08-af61-08c5f222a142"
                  alt="" class="avata_profile_img">
              </div>
            <div class="nav-account-info">
                <h6 class="nav-account-info-name">Lê Hoàng Thảo</h6>
                <p class="nav-account-info-email">thaolh@gmail.com</p>
             
            </div>
      </div>
      <div class="nav-account-logout">
        <a href="/login"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-right ml-3" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
          <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
        </svg></a>
      </div>
    </div>
  </div>
</nav>


  <!-- Modal profile -->
  <div class="modal fade" id="profile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-dialog-md">
      <div class="modal-content">
    
         
        <div class="modal-body" style="padding: 0;">
          <div class="profile-header">
            <div class="background_profile">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/vietfurniture-38c34.appspot.com/o/image%2F404.png?alt=media&token=bf1a65b6-3556-42d0-8756-99c0c15695a8"
                alt="" class="background_profile_img">
            </div>
            <div class="role_avata">
              <div class="avata_profile">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/vietfurniture-38c34.appspot.com/o/image%2FhoangThao.jpg?alt=media&token=ce883bde-7cca-4b08-af61-08c5f222a142"
                  alt="" class="avata_profile_img">
              </div>
              <div class="role_profile">
                <p class="badge-purple">Lớp 11A1</p>
              </div>
            </div>
          </div>
          <div class="profile-body">
            <div class="profile-body-content">
              <div class="profile-body-content-header">
                <div class="profile-body-content-header-text">
                  <h5 class="profile-body-content-header-text-name">Lê Hoàng Thảo</h5>
                  <p class="profile-body-content-header-text-email">thaolh@gmail.com</p>
                </div>
                <div class="profile-body-content-header-icon">
                  <i class="bi bi-info-circle"></i>       
                </div>
              </div>
              <div class="profile-body-content-body" style="margin-top: 20px;">
                <div class="profile-body-content-body-left">
                  <h5 class="profile-body-content-body-gender">Nam</h5>
                  <p class="profile-body-content-body-numberphone">0328142887</p>
                </div>
                <div class="profile-body-content-body-right">
                  <h5 class="profile-body-content-body-right-age">20 tuổi</h5>
                </div>
              </div>
            </div>

          </div>
        </div>
      
    </div>
  </div>