*{
    font-family: "Nunito", sans-serif;
}

nav{
    background-color: #f8f9fa !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.active-link{
    font-weight: bold;
    color: #17a2b8 !important;
    
}   
.text-primary{
    color: #17a2b8 !important;
    font-size: 45px;
}
.btn-primary{
    background-color: #17a2b8 !important;
    border: none;
    border-radius: 10px;
}
.nav-item {
    // padding: 30px 35px;
    color: #00394f;
    outline: none;
    font-size: 18px;
}
.nav-link{
    margin-left: 20px;
}

// Account của học sinh khi đăng nhập
 .nav-account .avarta-footer{
    width: 50px; 
    height: 50px;
}

 .nav-account .avarta-footer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.nav-account-info {
  margin-left: 10px;
}


/*----------------------------- Profile modal ----------------------------- */

.profile-header {
    margin: 10px auto;
    width: 90%;
    height: fit-content;
    border-radius: 10px;
    // background-color: #00afef;
    background: linear-gradient(to right, #0158d2, #00afef);
}

.profile-header .background_profile {
    width: 100%;
    height: 90px;
}

.profile-header .background_profile .background_profile_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.profile-header .role_avata {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 110px;
    margin: 0 auto;
    align-items: center;
    // padding-top: -50px;
}

.profile-header .avata_profile {
    width: 110px;
    height: 110px;
    /* position: relative;
    top: -50px;
    left: 40px; */
    // padding: 6px; 
    margin: 0px 0px 20px 0px;
    border-radius: 50%;
    background-color: #F2F4F7;
    
}

.profile-header .avata_profile .avata_profile_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-header .role_profile {
    margin-top: 40px;
}

.profile-header .role_profile .badge-purple {
    padding: 3px 10px;
    border-radius: 10px;
    font-family: "Inter";

}
.profile-body {
    margin-top: 20px;
    width: 100%;
}

.profile-body .profile-body-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.profile-body .profile-body-content .profile-body-content-header,
.profile-body .profile-body-content .profile-body-content-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px ;
    border-bottom: 1px solid #101828;
}

.profile-body-content-header-icon {
    background-color: var(--primary_25);
    padding: 5px 10px;
    border-radius: 50%;
}

.profile-body .profile-body-content .profile-body-content-body {
    border-bottom:none;
}


// danh sách của setting
ul {
    list-style: none;
    padding: 0;
}

li {
    position: relative;
    // margin: 5px 0;
}

li ul {
    display: none;
    position: absolute;
    left: 40%; /* Hiển thị bên phải của mục cha */
    top: 0;
    background-color: #f1f1f1;
    padding: 5px;
}

li:hover ul {
    display: block;
}
li ul li:hover{
    background-color: rgb(188, 247, 255);
    display: block;
}
li ul li{
    width: 160px;
    font-size: 16px;
}
li ul li a{
    text-decoration: none;
}
.disabled-input {
    pointer-events: none; /* Ngăn chặn sự tương tác của người dùng */
    background-color: #e9ecef;
    color: black;
    opacity: 1;
  }
  
