<h3>Tạo môn Thi</h3>
<form>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="tenMonThi" class="form-label">Tên môn thi</label>
                    <input type="text" class="form-control" id="tenMonThi" name="tenMonThi"
                        placeholder="Nhập tên kỳ thi" [(ngModel)]="tenMonThi" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="input1" class="form-label">Thời gian môn thi</label>

                    <div class="p-inputgroup">
                        <input class="form-control" id="thoiGianLamBai" name="thoiGianLamBai"
                            [(ngModel)]="thoiGianLamBai" pInputText placeholder="Nhập thời gian làm bài" required>
                        <span class="p-inputgroup-addon">
                            Phút
                        </span>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="modal-footer ">
        <button class="btn btn-secondary m-lg-2" type="submit" (click)="clear()">Làm mới</button>
        <button type="submit" class="btn btn-primary" pButton pRipple (click)="createMonThi()">Tại môn thi</button>
        <p-toast></p-toast>
    </div>
</form>