<div class="card">
  <p-table #dt1 [value]="studentList" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['tenDangNhap', 'hoVaTen',  'email', 'soDienThoai']" [rowsPerPageOptions]="[10, 25, 50]">
    <ng-template pTemplate="caption">
      <div class="flex">
        <form [formGroup]="formFilter">
          <span class="p-input-icon-left ml-auto">
            <input pInputText type="text" (change)="dt1.filterGlobal(getValueSearch(), 'contains')"
              formControlName="search" class="form-control box-shadow-none" placeholder="Tìm kiếm"
              aria-label="Example text with button addon" aria-describedby="button-search">
          </span>
        </form>
      </div>
    </ng-template>
    <ng-template pTemplate="header" class="theader">
      <tr>
        <th pSortableColumn="tenDangNhap" style="width:10%">Username<p-sortIcon field="tenDangNhap"></p-sortIcon></th>
        <th pSortableColumn="hoVaTen" style="width:15%">Tên<p-sortIcon field="hoVaTen"></p-sortIcon></th>
        <th pSortableColumn="gioiTinh" style="width:8%">GT<p-sortIcon field="gioiTinh"></p-sortIcon></th>
        <th pSortableColumn="soDienThoai" style="width:10%">SĐT<p-sortIcon field="soDienThoai"></p-sortIcon></th>
        <th pSortableColumn="email" style="width:15%">Email<p-sortIcon field="email"></p-sortIcon></th>
        <th pSortableColumn="diaChi" style="width:20%">Địa chỉ<p-sortIcon field="diaChi"></p-sortIcon></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" class="tbody" let-studentList>
      <tr>
        <td>{{ studentList.tenDangNhap }}</td>
        <td>{{ studentList.hoVaTen }}</td>
        <td>{{ studentList.gioiTinh ? "Nam" : "Nữ" }}</td>
        <td>{{ studentList.soDienThoai }}</td>
        <td>{{ studentList.email }}</td>
        <td>{{ studentList.diaChi }}</td>
        <td>
          <button class="btn btn-primary" [routerLink]="['/teacher/manage-student/event/'
            + currentEvent + '/subject/' + currentSubject + '/class/' + currentClass
            + '/student/' + studentList.tenDangNhap + '/result']">Chi tiết
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
