<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active text-dark" id="nav-danh-sach-tab" data-bs-toggle="tab"
      data-bs-target="#nav-danh-sach" type="button" role="tab" aria-controls="nav-danh-sach" aria-selected="true">Danh
      Sách</button>
    <button class="nav-link text-dark" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
      type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Tạo Kỳ Thi</button>
    <button class="nav-link text-dark" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
      type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Chi tiết kì thi</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active mt-4" id="nav-danh-sach" role="tabpanel" aria-labelledby="nav-danh-sach-tab">

    <!-- <table datatable [dtOptions]="dtOptions" class="row-border hover"></table> -->

    <!-- test -->
    <div class="list-body">
      <div class="table-responsive">
        <p-table #dt1 dataKey="materialNoteId" styleClass="p-datatable-striped p-datatable-sm"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [globalFilterFields]="['materialNoteId','product.productName','productionQuantity','materialNoteStatus']"
          [selectionPageOnly]="false">
          <ng-template pTemplate="header" class="thead">
            <tr>
              <th scope="col" class="colum-header" style="text-align: left;" pSortableColumn="materialNoteId">
                Phiếu nguyên vật liệu
              
                <p-sortIcon field="materialNoteId"></p-sortIcon>
              </th>
              <th scope="col" pSortableColumn="product.productName">
                Sản phẩm sản xuất
                <p-sortIcon field="product.productName"></p-sortIcon>
              </th>
              <th scope="col" pSortableColumn="productionQuantity">
                Số lượng sản xuất
                <p-sortIcon field="productionQuantity"></p-sortIcon>
              </th>
              <th scope="col" pSortableColumn="materialNoteCreationDate" class="d-none d-lg-table-cell">
                Ngày tạo
                <p-sortIcon field="materialNoteCreationDate"></p-sortIcon>
              </th>
              <th scope="col" pSortableColumn="materialNoteStatus" class="d-none d-xl-table-cell">
                Trạng thái
                <p-sortIcon field="materialNoteStatus"></p-sortIcon>
              </th>
              <th scope="col" class="">Thao tác</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" class="tbody" let-listContest let-rowIndex="rowIndex">
            <tr [pSelectableRow]="listContest" [pSelectableRowIndex]="rowIndex">
              <!-- <td scope="row" class="colum-header" style="display: flex; align-items: center;">
                <p-tableCheckbox [value]="listMaterial_Note"></p-tableCheckbox>
                <div class="text-group">
                  <h4 class="text-title text-title">{{listMaterial_Note.materialNoteId}}</h4>
                </div>
              </td>
              <td>{{listMaterial_Note.product.productName}}</td>
              <td>{{listMaterial_Note.productionQuantity}}</td>
              <td class="d-none d-lg-table-cell moPhai">
                {{listMaterial_Note.materialNoteCreationDate | date: 'dd/MM/yyyy'}}</td>
              <td class="moPhai add-dot d-none d-xl-table-cell text-center">
                <span [ngClass]="{
                                        'body-content-body-body-table-active-success': listMaterial_Note.materialNoteStatus === 'Successful',
                                        'body-content-body-body-table-active-primary': listMaterial_Note.materialNoteStatus === 'Pending',
                                        'body-content-body-body-table-active-danger': listMaterial_Note.materialNoteStatus === 'Cancelled'
                                      }">
                  {{ listMaterial_Note.materialNoteStatus === 'Successful' ? 'Đã hoàn thành' :
                  listMaterial_Note.materialNoteStatus === 'Pending' ? 'Đang tiến hành' :
                  listMaterial_Note.materialNoteStatus === 'Cancelled' ? 'Đã hủy' : 'Không xác
                  định'}}
                </span>

              </td>
              <td>
                <button class="btn" style="color: var(--gray_600);" data-bs-toggle="modal"
                  data-bs-target="#exampleModal"><i class="bi bi-pen"></i></button>
              </td> -->
              <td>{{listContest.maKyThi}}</td>
              <td>{{listContest.tenKyThi}}</td>
              <td>{{listContest.daDienRa}}</td>
              <td>{{listContest.thoiGianBatDau}}</td>
              <td>{{listContest.thoiGianKetThuc}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer" class="tfoot">
            <tr>
              <td style="text-align: left; display: flex;">
                <button class="btn-style btn-prev d-none d-md-block" [disabled]="">Trước đó</button>
                <button class="btn-style btn-next d-none d-md-block" style="margin: 0 10px;" [disabled]="">Kế
                  tiếp</button>
                <button class="btn-style btn-prev d-block d-md-none" [disabled]=""><i
                    class="bi bi-arrow-left-square"></i></button>
                <button class="btn-style btn-next d-block d-md-none" style="margin: 0 10px;" [disabled]=""><i
                    class="bi bi-arrow-right-square"></i></button>
              </td>
              <td class="d-none d-xl-table-cell"></td>
              <td class="d-none d-lg-table-cell"></td>
              <td></td>
              <td></td>
              <td>
                <!-- Trang {{pagination.numberPage}} của {{pagination.totalPage}} -->
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>



    </div>



  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

    <app-contest-create></app-contest-create>

  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <app-contest-detail></app-contest-detail>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa kỳ thi</h5>
      </div>
      <form>
        <div class="modal-body">

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="input1" class="form-label">Tên kỳ thi</label>
                <input type="text" class="form-control" id="tenKyThi" name="tenKyThi" [(ngModel)]="name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="input2" class="form-label">Trang thái</label>
                <input type="text" class="form-control disabled " id="trangthai" name="trangthai"
                  [(ngModel)]="contestStatus" disabled>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="input2" class="form-label">Thời gian bất đầu</label>
                <input type="datetime-local" class="form-control" id="formattedStartTime" name="formattedStartTime"
                  [(ngModel)]="formattedStartTime">

              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="input2" class="form-label">Thời gian kết thúc</label>
                <input type="datetime-local" class="form-control" id="formattedEndTime" name="formattedEndTime"
                  [(ngModel)]="formattedEndTime">
              </div>

            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form (ngSubmit)="onSubmit()">
            <button class="btn btn-primary">Save changes</button>
          </form>
        </div>
      </form>
    </div>
  </div>
</div>