h1{
    font-family: "Handlee", cursive;
}
.section-title {
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #17a2b8;
}

.section-title::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #17a2b8;
}
.section-title span{
    position: relative;
    background: #ffffff;
    z-index: 1;
}
