<div class="tabs">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active text-dark" id="nav-danh-sach-tab" data-bs-toggle="tab"
                data-bs-target="#nav-danh-sach" type="button" role="tab" aria-controls="nav-danh-sach"
                aria-selected="true">Danh
                Sách Môn Thi</button>
            <button class="nav-link text-dark" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Tạo Môn Thi</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active mt-4" id="nav-danh-sach" role="tabpanel"
            aria-labelledby="nav-danh-sach-tab">

            <!-- start table -->
            <div class="group-header-table ">
                <div class="inport">
                    <button type="button" pButton pRipple (click)="exportExcel()"
                        class="btn btn-success mr-2 text-light" pTooltip="XLS" tooltipPosition="bottom">Xuất file Excel</button>
                </div>
                <div class="form-search">
                    <form class="w-100" [formGroup]="formFilter">
                        <div class="input-group mb-3">
                            <button (click)="dt1.filterGlobal(getValueSearch(), 'contains')"
                                class="btn btn-outline-secondary box-shadow-none" type="button" id="button-search"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                    fill="none">
                                    <path
                                        d="M17.5 17.5L13.875 13.875M15.8333 9.16667C15.8333 12.8486 12.8486 15.8333 9.16667 15.8333C5.48477 15.8333 2.5 12.8486 2.5 9.16667C2.5 5.48477 5.48477 2.5 9.16667 2.5C12.8486 2.5 15.8333 5.48477 15.8333 9.16667Z"
                                        stroke="#667085" stroke-width="1.66667" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg></button>
                            <input pInputText type="text" (change)="dt1.filterGlobal(getValueSearch(), 'contains')"
                                formControlName="search" class="form-control box-shadow-none" placeholder="Tìm kiếm"
                                aria-label="Example text with button addon" aria-describedby="button-search">
                        </div>
                    </form>
                </div>
            </div>

            <div class="list-body">
                <p-table [value]="listMonHoc" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" #dt1
                    dataKey="maKyThi" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]"
                    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [globalFilterFields]="['maMon', 'tenMon', 'thoiGianLamBai']">

                    <ng-template pTemplate="header" class="theader">
                        <tr>
                            <th pSortableColumn="maMon" style="width:25%">Mã môn thi <p-sortIcon
                                    field="maMon"></p-sortIcon></th>
                            <th pSortableColumn="tenMon" style="width:25%">Tên môn thi <p-sortIcon
                                    field="tenMon"></p-sortIcon></th>
                            <th class="text-center" pSortableColumn="thoiGianLamBai" style="width:25%">Thời gian làm bài
                                <p-sortIcon field="thoiGianLamBai"></p-sortIcon>
                            </th>
                            <th class="text-center" style="width:25%">Thao tác </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" class="tbody" let-monThi let-rowIndex="rowIndex">
                        <tr>
                            <td>{{monThi.maMon}}</td>
                            <td>{{monThi.tenMon}}</td>
                            <td class="text-center">{{monThi.thoiGianLamBai}} Phút</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-info " data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" (click)="editMonThi(monThi.maMon)">
                                    <i class="pi pi-pencil" style="color: aliceblue;"></i>
                                </button>
                                <p-button type="button" class="btn btn-delete"
                                    (click)="checkIfMonThiIsReferenced(monThi.maMon)">
                                    <i class="pi pi-trash" style="color: aliceblue;"></i>
                                </p-button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft">
                        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                    </ng-template>
                    <ng-template pTemplate="paginatorright">
                        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                    </ng-template>
                </p-table>

            </div>
            <!-- end table -->

        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <app-exam-subject-create></app-exam-subject-create>
        </div>

    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa môn thi</h5>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="input1" class="form-label">Tên môn thi</label>
                                <input type="text" class="form-control" id="tenMonThi" name="tenMonThi"
                                    [(ngModel)]="tenMonThi" placeholder="Nhập tên môn thi">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="input1" class="form-label">Thời gian môn thi</label>

                                <div class="p-inputgroup">
                                    <input class="form-control" id="thoiGianLamBai" name="thoiGianLamBai"
                                        [(ngModel)]="thoiGianLamBai" pInputText placeholder="Nhập thời gian làm bài"
                                        required>
                                    <span class="p-inputgroup-addon">
                                        Phút
                                    </span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button class="btn btn-primary" pButton pRipple (click)="updateMonThi()">Lưu thay đổi</button>
                    <p-toast></p-toast>

                </div>
            </form>
        </div>
    </div>
</div>