.tabs {
    background-color: white;
    border-radius: 10px;
    height: 100%;
    padding: 10px 15px 0 15px;
}

:host ::ng-deep tbody {
    border-radius: var(--8, 8px);
    border: 1px solid var(--gray-200, #EAECF0);
    background: var(--white-100, #FFF);
}

:host ::ng-deep p-table th {
    font-size: 14px;
    border-radius: var(--8, 8px);
    border-top: 1px solid var(--gray-200, #EAECF0);
    background: var(--white-100, #FFF);
}

:host ::ng-deep tbody tr td {
    border-bottom: 1px solid var(--gray-200, #EAECF0);
    background: var(--gray-50, #F9FAFB);
    font-size: 14px;
}

:host ::ng-deep thead {
    border-radius: var(--8, 8px);
    border: 1px solid var(--gray-200, #EAECF0);
    background: var(--white-100, #FFF);
}


:host ::ng-deep p-dropdown ul {
    margin: 0;
    padding: 0;
}

.group-header-table {
    display: flex;
    justify-content: space-between;
}

.p-inputgroup {
    height: 40px;
}

:host ::ng-deep .btn-delete button {
    background-color: rgb(225, 63, 63);
    border: none;
    border-radius: 10%;
    padding: 12px 15px;
}

:host ::ng-deep .p-dialog-footer button{
    margin-right: 20px;
}