body {
    font-family: "Handlee", cursive;
    
}
*{
    text-decoration: none;
}

.footer {
    background-color: #00394f !important;
}

.text-white {
    margin-bottom: 20px;
}

.btn-outline-primary {
    color: #17a2b8;
    border-color: #17a2b8;
}

.title-footer {
    color: #17a2b8;
}
.form-group{
    margin-bottom: 20px;
}