:host ::ng-deep tbody {
  border-radius: var(--8, 8px);
  border: 1px solid var(--gray-200, #EAECF0);
  background: var(--white-100, #FFF);
}

:host ::ng-deep p-table th {
  font-size: 14px;
  border-radius: var(--8, 8px);
  border-top: 1px solid var(--gray-200, #EAECF0);
  background: var(--white-100, #FFF);
}

:host ::ng-deep tbody tr td {
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  background: var(--gray-50, #F9FAFB);
  font-size: 14px;
}

:host ::ng-deep thead {
  border-radius: var(--8, 8px);
  border: 1px solid var(--gray-200, #EAECF0);
  background: var(--white-100, #FFF);
}

:host ::ng-deep p-dropdown ul {
  margin: 0;
  padding: 0;
}
