<<<<<<< HEAD
/* You can add global styles to this file, and also import other style files */
/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
    /* Color-primary */
    --primary_25: #F1F6FA;
    --primary_50: #E2EFF6;
    --primary_100: #B7D7EA;
    --primary_200: #8DBEDC;
    --primary_300: #64A4CE;
    --primary_400: #4893C6;
    --primary_500: #2D82BD;
    --primary_600: #2476B1;
    --primary_700: #1965A0;
    --primary_800: #0F558F;
    --primary_900: #101828;
    --gray_25: #FCFCFD;
    --gray_50: #F9FAFB;
    --gray_100: #F2F4F7;
    --gray_200: #EAECF0;
    --gray_300: #D0D5DD;
    --gray_400: #98A2B3;
    --gray_500: #667085;
    --gray_600: #475467;
    --gray_700: #344054;
    --gray_800: #1D2939;
    --gray_900: #101828;
    --gray_1000: #090e18;
    /* font-primary */
    --font_primary: "Inter";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-link {
    text-decoration: none;
    color: black;
}

.menu-style {
    list-style: none;
    margin: 0;
    padding: 0;
}

.icon-text {
    font-size: 20px;
    margin: 0 5px;
}

.text-title {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.text-input {
    margin-top: 7px;
    margin-left: 2px;
}

.text-titles {
    margin: 0;
    padding: 0;
    padding: 2px 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: var(--gray_900);
}

.btn-style {
    font-weight: 500;
    font-size: 14px;
    color: var(--gray_900);
    background-color: var(--gray_25);
    border: 1px solid var(--gray_300);
    padding: 2px 10px;
    text-decoration: none;
}

.box-shadow-none:focus {
    box-shadow: none;
    border: 1px solid var(--gray_300);
}


.form-control:focus {
    box-shadow: none;
    border: 1px solid var(--gray_300);
}

.badge-sp {
    padding: 2px 10px !important;
    font-family: "Inter";
    border-radius: 10px;
}

.badge-red {
    background-color: #fff8ef;
    color: #d34317;
}

.badge-blue {
    background-color: #EFF8FF;
    color: #175CD3;
}

.badge-yellow {
    background-color: #ffffeb;
    color: #b5b208;
}


.badge-gray {
    background-color: #F2F4F7;
    color: #344054;
}

.badge-green {
    background-color: #ECFDF3;
    color: #027A48;
}

.badge-purple {
    background-color: #F9F5FF;
    color: #6941C6;
}

.badge-male {
    background-color: #ece8ff;
    color: #402ae1;
}

.badge-famale {
    background-color: #ffdff2;
    color: #ff6785;
}

.disnable {
    pointer-events: none;
    cursor: none;
    color: var(--gray_400);
    background-color: var(--gray_300);
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #222a3a;
    /* -webkit-box-shadow: 0 0 6px rgb(230, 230, 230);  */
}

.color-style-validate {
    color: #DC3545 !important;
}

.form-control {
    color: var(--gray_700) !important;
}

.moPhai {
    color: #667085 !important;
}

=======
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
>>>>>>> origin/Dev_Thao
