<h3>Chi tiết kì thi</h3>
<form>
  <div class="row">
   

    <div class="col-md-6">
      <div class="form-group">
        <label for="select1">Lựa chọn 1</label>
        <select class="form-control" id="select1" name="select1">
          <option value="option1">Tùy chọn 1</option>
          <option value="option2">Tùy chọn 2</option>
          <option value="option3">Tùy chọn 3</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="select2">Lựa chọn 2</label>
        <select class="form-control" id="select2" name="select2">
          <option value="option1">Tùy chọn 1</option>
          <option value="option2">Tùy chọn 2</option>
          <option value="option3">Tùy chọn 3</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="input1">Trường 1</label>
        <input type="text" class="form-control" id="input1" name="input1">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="input2">Trường 2</label>
        <input type="text" class="form-control" id="input2" name="input2">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="select3">Lựa chọn 3</label>
        <select class="form-control" id="select3" name="select3">
          <option value="option1">Tùy chọn 1</option>
          <option value="option2">Tùy chọn 2</option>
          <option value="option3">Tùy chọn 3</option>
        </select>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Gửi</button>
</form>


<!-- <table datatable [dtOptions]="dtOptions" class="row-border hover w-100"></table> -->