*{
    // font-family: "Handlee", cursive;
    text-decoration: none;
}
.bg-primary {
    background-color: #17a2b8 !important;
}
.router{
    margin-top: 10px;
}
.content-left{
    border-radius: 5px;
}

.bg-blue1{
    background-color: #007bff;
}

.question-footer{
    border-top: 1px solid black;
    padding: 10px;
    margin-top: 20px;
}
.question-footer button{
    padding: 3px 10px;
    border-radius: 5px;
    margin: 2px;
}
.question1 {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.options{
    margin-bottom: 20px;
}
.options label {
    display: block;
    margin-bottom: 25px;
    margin-left: 20px;
    font-size: 16px;
    background-color: #f1f1f1;
    padding: 10px;

}
.ban-tra-loi{
    color: rgb(255, 0, 0);
    width: 100px;
    background-color: #ffd9d9;
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}
.btn-dat-co{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: white;
    border: none;
    padding: 2px 15px;
    border-radius: 10px;
    text-align: right;
}

.btn-green{
    background-color: green;
}
.bg-green{
    background-color:greenyellow; 
}



 /* Thiết lập CSS cho hộp vuông */
 .question-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Chia thành 4 cột */
    gap: 7px; /* Khoảng cách giữa các câu hỏi */
   
   
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.question {
    background-color: #f7f7f7;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    width: 60px;
}
.question-header{
    text-align: center;
    margin: 20px 0px;
}
