:<div class="container-fluid">
  <div class="router" style="font-family: 'Handlee', cursive;">
    <h6>
      <a href="">Điểm thi</a> >>
      <a href="">HK1 11 -2023</a> >>
      <a href="">Toán</a> >>
      <a href="">Lịch sử thi</a>
    </h6>
  </div>
  <div class="row ">
    <div class="content-left col-md-3 bg-blue1 align-items-center justify-content-center text-center text-white">
 
        <h1>Thông tin bài thi</h1>
         <h6>HK1 lớp 11 - 2023</h6>
         <h6>Môn: Toán - Mã đề: 101</h6>
         <h6>Câu hỏi: 25/25 câu hỏi</h6>
         <h6>Ngày thi: 25/09/2023</h6>
         <h6>Thời gian nộp bài: 09:45:00</h6>
         <h6>Điểm đạt được: 9.0 điểm</h6>
      
    </div>
    <div class="col-md-9 bg-light">
      <form action="" method="post">

        <div class="row">
          <div class="question1 d-flex">
            <div class="question-content md-9">
              Câu hỏi 1: Ai là người tạo nền móng công trình nghiên cứu quản trị, đặc biệt là nghiên cứu về mối quan
              hệ giữa
              điều kiện lao động và kết quả của doanh nghiệp.
            </div>
            <div class="question-content-footer md-3">
              Đạt điểm 0/0,50
              <button class="btn-dat-co btn-danger">Sai</button>
            </div>
          </div>
          <div class="options" style="background-color: 007bff;">
            <label ><input type="radio" name="q1" value="a" checked> A. Lựa chọn A</label>
            <label><input type="radio" name="q1" value="b"> B. Lựa chọn B</label>
            <label><input type="radio" name="q1" value="c"> C. Lựa chọn C</label>
            <label><input type="radio" name="q1" value="d"> D. Lựa chọn D</label>
          </div>
        </div>
        <div class="question-footer d-flex">
          <button class="btn-pre btn-info">Câu trước</button>
          <button class="btn-next btn-info ml-auto">Câu tiếp theo</button>
         
        </div>

      </form>
    </div>
    
  </div>
