*{
    font-family: "Handlee", cursive;
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
}

 /* Thiết lập CSS cho hộp vuông */
 .question-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Chia thành 4 cột */
    gap: 7px; /* Khoảng cách giữa các câu hỏi */
    background-color: #f7f7f7;
   
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


/* CSS cho mỗi câu hỏi */
.question {
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    width: 60px;
}
.question-header{
    text-align: center;
    margin: 20px 0px;
}

.question-footer{
    margin-top: 15px;
}
.btn-nop-bai{
    border-radius: 5px;
    font-size: 14px;
    border: none;
    background-color: #321fdb;
    color: white;
    padding: 10px 20px;
}
/* CSS cho biểu tượng cờ */
.flag-icon {
    font-size: 16px; /* Kích thước của biểu tượng */
    margin-left: 5px; /* Khoảng cách từ biểu tượng đến nội dung */
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px; /* Kích thước của biểu tượng */
    margin-left: 5px; /* Khoảng cách từ biểu tượng đến nội dung */
    color: rgb(252, 73, 73); /* Màu của biểu tượng cờ (màu đỏ) */

}

/* CSS cho ô câu hỏi */
.question {
    position: relative; /* Để có thể sử dụng position: absolute cho biểu tượng */
}

.timer{
    font-size: 14px;
    background-color: #d7d7d7;
    padding: 10px;
    border-radius: 5px;
}

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.question1 {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.options label {
    display: block;
    margin-bottom: 5px;
}

.question-content-footer{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 0px 0px 5px;
    background-color: #f9f9f9;
}
.btn-dat-co{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: white;
    padding: 2px 10px;
    border-radius: 5px;
}

