<div class="container-fluid bg-primary px-0 px-md-5 mb-5">
    <div class="row align-items-center px-3">
        <div class="col-lg-6 text-left text-lg-left">
            <h4 class="text-white mb-4 mt-5 mt-lg-0">Thi trắc nghiệm Online</h4>
            <h1 class="display-3 font-weight-bold text-white mb-2">
                Phương pháp tiếp cận mới đối với giáo dục
            </h1>`
            <p class="text-white mb-4">
                Muốn xây dựng đất nước, trước hết phải phát triển giáo dục. Muốn trị nước, phải trọng dụng người tài.
            </p>
            <a href="" class="btn btn-secondary mt-1 py-3 px-5">Thi ngay</a>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <img class="img-fluid mt-5"
                src="https://firebasestorage.googleapis.com/v0/b/ztress-zear.appspot.com/o/Images_QuizzEdu%2Fheader.png?alt=media&token=b843ec69-6fc4-4256-ae7c-6d79af52920f"
                alt="" />
        </div>
    </div>
</div>

