.bg-primary {
    background-color: #17a2b8 !important;
}

.btn-secondary {
    border-radius: 12px;
    background-color: #00394f;
    border-color: #00394f;
    color: #fff;
}

.text-white {
    font-family: "Handlee", cursive;
}