* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font_tertiary);
  }
  
  /* ------------------------------- Manager_Content ------------------------------- */
  
  #Manager_Content {
    background-color: white;
    overflow: auto;
  }
  
  /* ------------------------------- header Manager_Content ------------------------------- */
  
  #Manager_Content .header_content {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
  }
  
  
  #Manager_Content .header_content .header_content_main-text {
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    line-height: 38px;
  }
  
  
  #Manager_Content .header_content .header_content_sub-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray_500);
  }
  
  
  
  /* ------------------------------- header Manager_Content ------------------------------- */
  
  
  /* ------------------------------- body Manager_Content ------------------------------- */
  
  #Manager_Content .body_content {
    width: 95%;
    margin: 0 auto;
  }
  
  
  #Manager_Content .body_content .body_content_tabs {
    width: fit-content;
    border: none;
    border-radius: 5px;
  }
  
  
  #Manager_Content .body_content .body_content_tabs .btn-style {
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    background-color: white;
  }
  
  #Manager_Content .body_content .body_content_tabs .btn-style:focus-within {
    background-color: var(--gray_50);
    border: 1px solid var(--gray_300);
  }
  
  
  /* ------------ list Manager_Content ---------------- */
  
  #Manager_Content #list .list-header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #Manager_Content #list .list-header .list-header-seletion-group form {
    display: flex;
  }
  
  
  #Manager_Content #list .list-header-seletion-group .form-select {
    font-size: 15px;
    padding: 6px 30px 6px 12px;
    font-family: var(--font_tertiary);
    font-weight: 500;
    color: var(--gray_800);
    border: 1.5px solid var(--gray_300);
    border-radius: 6px;
    cursor: pointer;
  }
  
  #Manager_Content #list .list-header-seletion-group .form-select:focus {
    box-shadow: none;
  
  }
  
  /* ------------ list Manager_Content ---------------- */
  
  
  /* ------------ table Manager_Content ---------------- */
  
  #Manager_Content .list-body .table-responsive,
  #Manager_Content .table-responsive {
    border-radius: 10px;
    border: 1px solid var(--gray_300);
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    /* height: 510px; */
  }
  
  
  
  
  .table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: var(--gray_50);
    color: var(--bs-table-striped-color);
  }
  
  #Manager_Content .list-body .table-responsive thead,
  #Manager_Content .table-responsive thead,
  :host ::ng-deep .p-datatable-thead {
    border-bottom: 1px solid var(--gray_300);
  }
  
  #Manager_Content .list-body .table-responsive thead th,
  #Manager_Content .table-responsive thead th,
  :host ::ng-deep .p-datatable-thead th {
    font-size: 12px;
    font-family: var(--font_tertiary);
    font-weight: 500;
    color: var(--gray_500);
    padding: 10px 8px;
  }
  
  
  
  /* #Manager_Content .list-body .table-responsive thead th {
    width: 10%;
  } */
  
  #Manager_Content .list-body .table-responsive .table tbody,
  #Manager_Content .table-responsive .table tbody,
  :host ::ng-deep .p-datatable-tbody {
    border: none !important;
    border-style: none !important;
  }
  
  
  
  #Manager_Content .list-body .table-responsive tbody tr,
  #Manager_Content .table-responsive tbody tr,
  :host ::ng-deep .p-datatable-tbody tr {
    vertical-align: middle;
    transition: 0.5s;
  
  }
  
  #Manager_Content .list-body .table-responsive tbody tr:hover,
  #Manager_Content .table-responsive tbody tr:hover,
  :host ::ng-deep .p-datatable-tbody tr:hover {
    /* background-color: var(--gray_200); */
  
  }
  
  
  
  #Manager_Content .list-body .td-first-table,
  #Manager_Content .td-first-table {
    display: flex;
    align-items: center;
  }
  
  #Manager_Content .list-body .text-group,
  #Manager_Content .text-group {
    margin-left: 10px;
  }
  
  #Manager_Content .list-body .text-group .text-title,
  #Manager_Content .text-group .text-title {
    font-size: 15px;
    font-family: var(--font_tertiary);
    font-weight: 600;
    margin: 3px 0;
    text-align: left;
    padding: 10px 0;
  }
  
  .table-responsive-sub .text-group .text-title,
  .table-responsive-sub .text-group .text-title {
    padding: 0 !important;
  }
  
  
  #Manager_Content .list-body .text-group .text-id,
  #Manager_Content .text-group .text-id {
    font-size: 13px;
    font-family: var(--font_tertiary);
    font-weight: 400;
    color: var(--gray_700);
    margin: 2px 0;
    text-align: left;
  }
  
  #Manager_Content .list-body .table-responsive tbody td,
  #Manager_Content .table-responsive tbody td,
  :host ::ng-deep .p-datatable-tbody td {
    font-size: 14px;
    font-family: var(--font_tertiary);
    font-weight: 600;
    color: var(--gray_600);
    cursor: pointer;
    transition: 0.5s;
  }
  
  
  tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: none;
    border-width: 0;
    text-align: center;
    transition: 0.5s;
  }
  
  
  #Manager_Content .list-body .table-responsive tfoot,
  :host ::ng-deep .p-datatable-tfoot {
    border-top: 1px solid var(--gray_300);
  }
  
  
  #Manager_Content .list-body .table-responsive tfoot .btn-style,
  :host ::ng-deep .p-datatable-tfoot .btn-style {
    padding: 7px 13px;
    border-radius: 5px;
    transition: 0.4s;
  }
  
  #Manager_Content .list-body .table-responsive tfoot .btn-style:hover,
  :host ::ng-deep .p-datatable-tfoot .btn-style:hover {
    background-color: var(--gray_100);
  }
  
  #Manager_Content .list-body .table-responsive tfoot td:last-child,
  :host ::ng-deep .p-datatable-tfoot td:last-child {
    font-family: var(--font_tertiary);
    font-size: 14px;
    font-weight: 500;
  }
  
  /* ------------ table Manager_Content ---------------- */
  
  
  /* ------------ form Manager_Content ---------------- */
  #Manager_Content #form .form-pane {
    width: 100%;
    border: 2px solid var(--gray_200);
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #Manager_Content #form .group-fleld {
    width: 95%;
    margin: 10px auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }
  
  #Manager_Content #form .group-fleld .title-order {
    margin: 10px 0;
    font-family: var(--font_tertiary);
    font-weight: 600;
  }
  
  
  
  #Manager_Content #form .group-fleld .form-group .form-select {
    color: var(--gray_900) !important;
    font-weight: 600;
  }
  
  
  
  #Manager_Content #form .group-fleld-012 {
    display: flex;
    justify-content: right;
  }
  
  
  #Manager_Content #form .group-fleld-012 .btn {
    padding: 8px 17px;
    transition: 0.5s;
    margin: 10px;
  }
  
  
  #Manager_Content #form .group-fleld-012 .btn-clear:hover {
    background-color: var(--gray_300);
  }
  
  #Manager_Content #form .group-fleld-012 .btn:last-child {
    margin-right: -1px;
    background-color: var(--primary_700);
    color: var(--gray_50);
  }
  
  
  
  #Manager_Content #form .group-fleld-012 .btn:last-child:hover {
    background-color: var(--primary_800);
  
  }
  
  #Manager_Content #form .group-fleld-012 .btn-update {
    background-color: var(--gray_100);
    color: var(--gray_700);
  
  }
  
  #Manager_Content #form .group-fleld-012 .btn-update:hover {
    background-color: var(--gray_300);
    color: var(--gray_700);
  }
  
  
  #Manager_Content #form .form-group .form-label {
    font-family: var(--font_tertiary);
    font-size: 14px;
    font-weight: 500;
  }
  
  #Manager_Content #form .form-group .form-control {
    font-family: var(--font_tertiary);
    font-size: 16px;
    font-weight: 400;
    color: var(--gray_500);
    box-shadow: 0px 1px var(--gray_300);
  }
  
  .btn-style {
    font-weight: 500;
    font-size: 14px;
    color: #101828;
    background-color: #FCFCFD;
    border: 1px solid #D0D5DD;
    padding: 2px 10px;
    text-decoration: none;
  }
  
  .btn-import-file,
  .btn-export-file {
    padding: 5px 10px;
    margin: 0 10px;
    transition: 0.5s;
  }
  
  .btn-import-file:hover,
  .btn-export-file:hover {
    background-color: var(--primary_800) !important;
    color: white !important;
  }
  
  .btn-export-file {
    background-color: var(--primary_700);
    color: white;
    margin-right: -10px;
  }
  
  .btn-filter,
  .btn-deleteAll {
    border-radius: 5px;
    padding: 7px 15px;
    border-radius: 6px;
  }
  
  .btn-deleteAll {
    margin: 0 10px;
    background-color: #F97066;
    color: white;
  }
  
  .input-checkbox {
    font-size: 20px;
  }
  
  .colum-header {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .form-label {
    font-family: 'Inter';
    font-weight: 500;
  }
  
  
  /* ------------ form Manager_Content ---------------- */
  
  .table-responsive-sub {
    padding: 0;
  }
  
  .table-responsive-sub table thead {
    background-color: var(--gray_100);
  }
  
  .table-responsive-sub table tfoot {
    border-top: 1px solid var(--gray_300);
  }
  
  .header-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 10px auto;
  }
  
  .btn-add-material {
    background-color: var(--primary_700);
    font-family: 'Inter';
    font-weight: 500;
    border-radius: 5px;
    color: white;
  }
  
  .btn-add-material:hover {
    font-family: 'Inter';
    font-weight: 500;
    background-color: var(--primary_800) !important;
    color: white !important;
  }
  
  .add-dot {
    width: 200px;
  }
  
  /*------------------------ table - primeNG ------------------------*/
  
  :host ::ng-deep .p-datatable .p-paginator-bottom {
    display: none;
  }
  
  :host ::ng-deep .p-datatable .p-sortable-column.p-highlight {
    color: var(--primary_700);
  }
  
  :host ::ng-deep .p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
    color: var(--primary_700);
  }
  
  :host ::ng-deep .p-datatable .p-sortable-column .p-sortable-column-badge {
    background-color: var(--primary_700);
  }
  
  
  :host ::ng-deep .p-datatable .p-datatable-thead>tr>th {
    border: none;
    background-color: var(--gray_100);
    text-align: center;
  }
  
  :host ::ng-deep .p-datatable .p-sortable-column:focus {
    box-shadow: none;
    border: 1px solid var(--primary_700);
  }
  
  
  :host ::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    text-align: center;
  }
  
  :host ::ng-deep .p-highlight .p-checkbox .p-checkbox-box {
    border: 2px solid var(--gray_300);
  }
  
  
  :host ::ng-deep .p-datatable.p-datatable-sm .p-datatable-tbody>tr>td {
    /* border: none; */
    padding: 1rem 1rem;
  }
  
  :host ::ng-deep .p-datatable.p-datatable-sm .p-datatable-tfoot>tr>td {
    border: none;
  }
  
  :host ::ng-deep .p-datatable-header {
    background-color: white;
  }
  
  :host ::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody>tr.p-highlight {
    background: var(--primary_700);
  }
  
  :host ::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody>tr.p-highlight td {
    color: #ffffff !important;
  }
  
  :host ::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody>tr.p-highlight td button {
    color: #ffffff !important;
  }
  
  :host ::ng-deep .p-column-filter-menu-button.p-column-filter-menu-button-active, .p-column-filter-menu-button.p-column-filter-menu-button-active:hover {
    background: var(--primary_700);
  }
  
  :host ::ng-deep .p-column-filter-menu-button:focus {
    box-shadow: 0 0 0 0.2rem var(--primary_600);
  }
  
  :host ::ng-deep .p-datatable .p-datatable-tbody > tr {
    transition: 0.5s;
  }
  
  :host ::ng-deep .p-datatable .p-datatable-tbody > tr:focus {
    outline: 0.15rem solid var(--primary_600);
    outline-offset: 0;
  }
  
  
  .body-content-body-body-table-active-success {
    background-color: #ecfdf3;
    padding: 3px 10px;
    border-radius: 15px;
    color: var(--success-700, #027a48);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
  }
  
  .body-content-body-body-table-active-primary {
    background-color: #eff8ff;
    color: var(--blue-700, #175cd3);
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
  }
  
  .body-content-body-body-table-active-danger {
    background-color: #fef3f2;
    color: var(--error-700, #b42318);
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
  }
  .modal-footer-button{
    padding: 16px;
  }