<div id="Manager_Content">
    <div class="header_content">
      <div class="header_content_text-group">
        <h3 class="header_content_main-text text-title">Quản lý phiếu nhập</h3>
        <h5 class="header_content_sub-text text-title">Xem và thao tác thêm, sửa xóa và lọc thông phiếu nhập kho
        </h5>
      </div>
      <div class="header_content_button-group d-none d-lg-block">
        <form action="" method="post">
          <!-- <button class="btn btn-style btn-import-file"><i class="bi bi-cloud-upload icon-text"></i> Nhập file
                      vào</button> -->
          <button class="btn btn-style btn-export-file"><i class="bi bi-cloud-download icon-text"></i> Tải file
            xuống</button>
        </form>
      </div>
    </div>
    <div class="body_content">
      <!-- Nav tabs -->
  
      <!-- Nav tabs -->
      <ul class="nav nav-tabs body_content_tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="btn-style active" style="border: 1px solid var(--gray_300);" id="list-tab" data-bs-toggle="tab"
            data-bs-target="#list" type="button" role="tab" aria-controls="list" aria-selected="true"><i
              class="bi bi-list"></i> Danh sách</button>
        </li>
        <li class="nav-item" hidden style="margin: 0 10px;" role="presentation">
          <button class="btn-style" style="border: 1px solid var(--gray_300);" id="form-tab" data-bs-toggle="tab"
            data-bs-target="#form" type="button" role="tab" aria-controls="form" aria-selected="false"><i
              class="bi bi-pen"></i> Chỉnh sửa</button>
        </li>
      </ul>
      <br>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="list" style="padding-bottom: 100px;" role="tabpanel" aria-labelledby="list-tab">
          <div class="list-header">
            <div class="list-header-seletion-group">
              <form [formGroup]="formFilter">
                <div class="dropdown">
                  <button class="btn-style btn-filter" data-bs-toggle="dropdown" aria-expanded="false"><i
                      class="bi bi-filter"></i> Bộ lọc</button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div>
                <div style="margin-left: 10px;">
                  <select class="form-select" formControlName="setRows" (change)="setItemRow()">
                    <option value="5">5 dòng</option>
                    <option value="10">10 dòng</option>
                    <option value="15">15 dòng</option>
                  </select>
                </div>
                <button class="btn-style btn-deleteAll" (click)="deleteselected()"><i class="bi bi-trash3"></i> Xóa đã
                  chọn</button>
              </form>
            </div>
            <div class="list-header-search-group d-none d-sm-block">
              <form [formGroup]="formFilter">
                <div class="input-group mb-3">
                  <button (click)="dt1.filterGlobal(getValueSearch(), 'contains')"
                    class="btn btn-outline-secondary box-shadow-none" type="button" id="button-search"><i
                      class="bi bi-search"></i></button>
                  <input pInputText type="text" (change)="dt1.filterGlobal(getValueSearch(), 'contains')"
                    formControlName="search" class="form-control box-shadow-none" placeholder="Tìm kiếm"
                    aria-label="Example text with button addon" aria-describedby="button-search">
                </div>
              </form>
            </div>
          </div>
          <div class="list-body">
            <div class="table-responsive">
              <p-table #dt1 dataKey="materialNoteId" styleClass="p-datatable-striped p-datatable-sm"
                [value]="listMaterial_Note" [paginator]="true" [rows]="pagination.rows" [(first)]="pagination.first"
                [(selection)]="selectedGrn" [metaKeySelection]="true" responsiveLayout="scroll"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [globalFilterFields]="['materialNoteId','product.productName','productionQuantity','materialNoteStatus']"
                [selectionPageOnly]="false">
                <ng-template pTemplate="header" class="thead">
                  <tr>
                    <th scope="col" class="colum-header" style="text-align: left;" pSortableColumn="materialNoteId">
                      <p-tableHeaderCheckbox style="margin: 0 10px 0 6px;"></p-tableHeaderCheckbox>
                      Phiếu nguyên vật liệu
                      <p-columnFilter type="text" field="materialNoteId" display="menu"></p-columnFilter>
                      <p-sortIcon field="materialNoteId"></p-sortIcon>
                    </th>
                    <th scope="col" pSortableColumn="product.productName">
                      <p-columnFilter type="text" field="product.productName" display="menu"></p-columnFilter>
                      Sản phẩm sản xuất
                      <p-sortIcon field="product.productName"></p-sortIcon>
                    </th>
                    <th scope="col" pSortableColumn="productionQuantity">
                      <p-columnFilter type="numeric" currency="VND" field="productionQuantity"
                        display="menu"></p-columnFilter>
                      Số lượng sản xuất
                      <p-sortIcon field="productionQuantity"></p-sortIcon>
                    </th>
                    <th scope="col" pSortableColumn="materialNoteCreationDate" class="d-none d-lg-table-cell">
                      <p-columnFilter type="date" field="materialNoteCreationDate" display="menu"></p-columnFilter>
                      Ngày tạo
                      <p-sortIcon field="materialNoteCreationDate"></p-sortIcon>
                    </th>
                    <th scope="col" pSortableColumn="materialNoteStatus" class="d-none d-xl-table-cell">
                      <p-columnFilter type="date" field="materialNoteStatus" display="menu"></p-columnFilter>
                      Trạng thái
                      <p-sortIcon field="materialNoteStatus"></p-sortIcon>
                    </th>
                    <th scope="col" class="">Thao tác</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" class="tbody" let-listMaterial_Note let-rowIndex="rowIndex">
                  <tr [pSelectableRow]="listMaterial_Note" [pSelectableRowIndex]="rowIndex">
                    <td scope="row" class="colum-header" style="display: flex; align-items: center;">
                      <p-tableCheckbox [value]="listMaterial_Note"></p-tableCheckbox>
                      <div class="text-group">
                        <h4 class="text-title text-title">{{listMaterial_Note.materialNoteId}}</h4>
                      </div>
                    </td>
                    <td>{{listMaterial_Note.product.productName}}</td>
                    <td>{{listMaterial_Note.productionQuantity}}</td>
                    <td class="d-none d-lg-table-cell moPhai">
                      {{listMaterial_Note.materialNoteCreationDate | date: 'dd/MM/yyyy'}}</td>
                    <td class="moPhai add-dot d-none d-xl-table-cell text-center">
                      <span [ngClass]="{
                                              'body-content-body-body-table-active-success': listMaterial_Note.materialNoteStatus === 'Successful',
                                              'body-content-body-body-table-active-primary': listMaterial_Note.materialNoteStatus === 'Pending',
                                              'body-content-body-body-table-active-danger': listMaterial_Note.materialNoteStatus === 'Cancelled'
                                            }">
                        {{ listMaterial_Note.materialNoteStatus === 'Successful' ? 'Đã hoàn thành' :
                        listMaterial_Note.materialNoteStatus === 'Pending' ? 'Đang tiến hành' :
                        listMaterial_Note.materialNoteStatus === 'Cancelled' ? 'Đã hủy' : 'Không xác
                        định'}}
                      </span>
  
                    </td>
                    <td>
                      <button class="btn" style="color: var(--gray_600);" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" (click)="openModal(listMaterial_Note.materialNoteId)"><i
                          class="bi bi-pen"></i></button>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="footer" class="tfoot">
                  <tr>
                    <td style="text-align: left; display: flex;">
                      <button class="btn-style btn-prev d-none d-md-block" (click)="prev()"
                        [disabled]="isFirstPage()">Trước đó</button>
                      <button class="btn-style btn-next d-none d-md-block" style="margin: 0 10px;" (click)="next()"
                        [disabled]="isLastPage()">Kế
                        tiếp</button>
                      <button class="btn-style btn-prev d-block d-md-none" (click)="prev()" [disabled]="isFirstPage()"><i
                          class="bi bi-arrow-left-square"></i></button>
                      <button class="btn-style btn-next d-block d-md-none" style="margin: 0 10px;" (click)="next()"
                        [disabled]="isLastPage()"><i class="bi bi-arrow-right-square"></i></button>
                    </td>
                    <td class="d-none d-xl-table-cell"></td>
                    <td class="d-none d-lg-table-cell"></td>
                    <td></td>
                    <td></td>
                    <td>
                      Trang {{pagination.numberPage}} của {{pagination.totalPage}}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
  
  
  
          </div>
        </div>
        <div class="tab-pane" id="form" style="padding-bottom: 100px;" role="tabpanel" aria-labelledby="form-tab">
  
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Start modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Thông tin sản xuất</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- form -->
  
          <form class="row g-3">
            <div class="col-md-6">
              <label for="production-product" class="form-label">Sản phẩm sản xuất</label>
              <label class="form-control" id="production-product" *ngIf="Itemmaterials_note && Itemmaterials_note.product"
                name="productName">{{Itemmaterials_note.product.productName}}</label>
            </div>
            <div class="col-md-6">
              <label for="active-product" class="form-label">Trạng thái phiếu</label>
  
              <select id="active-product" class="form-select" aria-label="Default select example"
                [(ngModel)]="selectedOption" name="selectedOption">
                <option *ngFor="let option of options" [value]="option">
                  {{ option === 'Cancelled' ? 'Hủy' : option === 'Successful' ? 'Đã hoàn thành' : option === 'Pending' ?
                  'Đang tiến hành' : option }}
                </option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="product-date" class="form-label">Ngày đặt sản xuất</label>
              <label class="form-control" id="materialNoteCreationDate"
                name="materialNoteCreationDate">{{Itemmaterials_note?.materialNoteCreationDate | date:
                'dd/MM/yyyy'}} </label>
            </div>
            <div class="col-md-6">
              <label for="quantity-product" class="form-label">Số lượng sản phẩm sản xuất</label>
              <div class="input-group mb-3">
                <label id="productionQuantity" name="productionQuantity" class="form-control"
                  aria-label="Recipient's username" aria-describedby="basic-addon2">{{
                  Itemmaterials_note?.productionQuantity }}</label>
  
                <span class="input-group-text" id="basic-addon2">Cái</span>
              </div>
            </div>
          </form>
  
          <hr class="modal-body-hr">
  
          <!-- Table -->
          <h1 class="modal-title fs-5" id="exampleModalLabel">Thông tin nguyên vật liệu</h1>
  
        </div>
        <hr class="modal-body-hr">
        <div class="modal-footer-button">
          <!-- <p-confirmDialog header="Cảnh báo" icon="pi pi-exclamation-triangle"></p-confirmDialog> -->
          <!-- <button (click)="confirm()" pButton style="margin-left: 12px;" type="button" class="btn btn-primary float-end"
            [disabled]="selectedOptionAcitve === 'Cancelled' || selectedOptionAcitve === 'Successful'">
            Cập nhật
          </button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- End modal -->