<!-- <table datatable>
  <thead>
    <tr>
      <th>Mã kỳ thi</th>
      <th>Tên kỳ thi</th>
      <th>Mô tả</th>
      <th>Thời gian bắt đầu</th>
      <th>Thời gian kết thúc</th>
      <th>Trạng thái</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <td>1</td>
    <td>Học kì 2 năm 2023</td>
    <td>abc</td>
    <td>18/3/2023</td>
    <td>18/5/2023</td>
    <td>Đã kết thúc</td>
    <td><button class="btn btn-primary">Chi tiết</button></td>
  </tbody>
</table> -->
<table datatable [dtOptions]="dtOptions" class="row-border hover">
  <tbody>
    <tr>
      <td>1</td>
      <td>Học kì 2 năm 2023</td>
      <td>abc</td>
      <td>18/3/2023</td>
      <td>18/5/2023</td>
      <td>Đã kết thúc</td>
      <td><button class="btn btn-primary" [routerLink]="['/teacher/test-kit/'+1]">Chi tiết</button></td>
    </tr>
  </tbody>
</table>
