.my-element {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/vietfurniture-38c34.appspot.com/o/image%2FfAEbUH.webp?alt=media&token=ce2c301e-b131-4723-8e3e-e53c14f3b95f'); /* Đường dẫn đến hình ảnh hoặc URL */
    background-size: cover; /* Tuỳ chỉnh kích thước ảnh để nó đổ vừa với phần tử */
    background-position: center center; /* Vị trí hiển thị của hình ảnh trong phần tử */
    background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
  }

.bg-logo{
    position: absolute;
    margin: 0 auto;
}