<!-- <img class="bg-logo" width="30%" src="https://firebasestorage.googleapis.com/v0/b/vietfurniture-38c34.appspot.com/o/image%2FQEdu.png?alt=media&token=3486511f-c2c9-49c1-81a1-5370e29f8b41" alt=""> -->

<div class="my-element bg-light min-vh-100 d-flex flex-row align-items-center">
  
  <c-container>
    
    <c-row class="justify-content-center" style="margin: 50px 0px;">
      <c-col md="4">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm>
                <h1>Đăng nhập</h1>
                <p class="text-medium-emphasis">Đăng nhập vào tài khoản của bạn</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="username" cFormControl placeholder="Tên đăng nhập" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Mật khẩu"
                    type="password"
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-3" color="primary">
                      Đăng nhập
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      <a href="/changepassword">Quên mật khẩu?</a>
                    </button>
                  </c-col>
                </c-row>
              </form>
            
            </c-card-body>
            <p  class="justify-content-center text-center" >Tài khoản do quản trị viên cấp!</p>
          </c-card>
        
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>

<!-- <div class="bg-light min-vh-50 d-flex flex-row align-items-center">

  <div class="content">
   
      <div class="blockLeft">
          <div class="contentLogin">
              <form>
                  <h3>Đăng nhập</h3>
                  <p class="loiChao">Chào mừng ! Hãy nhập thông tin của bạn</p>
                  <div class="form-group">
                      <label for="email">Email</label>
                      <input type="text" id="email" formControlName="email" name="email"
                          placeholder="Hãy nhập email">
                     
                  </div>
                  <div class="form-group">
                      <label for="password">Mật khẩu</label>
                      <input type="password" id="password" formControlName="password" name="password"
                          placeholder="Hãy nhập mật khẩu">
                     
                  </div>

                  <div class="form-group"
                      style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
                      <div class="remember" style="margin: 0;display: flex;  align-items: center;">
                          <input type="checkbox" id="remember" name="remember">
                          <label for="remember" style="margin: 0;" class="contentRemember">Nhớ mật khẩu</label>
                      </div>
                      <a href="" class="forgot">Quên mật khẩu</a>
                  </div>


                  <div class="btnSubmit">
                      <button class="btn btn-login"  style="font-weight: 600">Đăng nhập</button>
                      <br>
                      <button class="btn btn-login btn-login-google"
                          style=" font-weight: 600; margin-bottom: 32px; padding: 10px 16px;font-weight: 600 ; background-color: white; color: black; height: 44px;"><img
                              style="margin-right: 12px;"
                              src="https://firebasestorage.googleapis.com/v0/b/vietfurniture-38c34.appspot.com/o/image%2FSocial%20icon.svg?alt=media&token=18be7020-15b4-4287-a768-8f36c9f3290a"
                              alt="">Đăng nhập bằng
                          Google</button>
                  </div>

                  <p class="noAcc" style="text-align: center;">Tài khoản sẽ được cấp bởi quản trị viên!</p>
              </form>
          </div>
      </div>
      <div class="blockRight">
        <img class="img-fluid"
            src="https://firebasestorage.googleapis.com/v0/b/vietfurniture-38c34.appspot.com/o/image%2FSection.png?alt=media&token=ee70569b-d90b-481c-b644-40f3efcacffa"
            alt="">
    </div>
  </div>
</div>
<ng-template #Message>
  <div class="modal-body dialog">
      <div class="dialog-icon dialog-message">
          <div class="dialog-icon-bg dialog-message-bg"><i class="bi bi-chat-left-dots message-icon"></i></div>
      </div>
      <div class="dialog-content">
          <h5 class="dialog-title">Đăng nhập thất bại</h5>
          <p class="dialog-description">Đăng nhập thất bại. Vui lòng kiểm tra lại email và mật khẩu của bạn.</p>
      </div>
      <div class="dialog-button">
      <button class="btn btn-cancel" aria-label="Close">Hủy bỏ</button> 
          <button class="btn btn-confirm" >Xác nhận</button>
      </div>
  </div>
</ng-template> -->