<div class="tabs">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active text-dark" id="nav-danh-sach-tab" data-bs-toggle="tab"
                data-bs-target="#nav-danh-sach" type="button" role="tab" aria-controls="nav-danh-sach"
                aria-selected="true">Danh
                sách thông tin học sinh</button>
            <button class="nav-link text-dark" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Tạo học sinh</button>
            <button class="nav-link text-dark" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Danh sách điểm học
                sinh</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active mt-4" id="nav-danh-sach" role="tabpanel"
            aria-labelledby="nav-danh-sach-tab">


            <!-- test -->


            <div class="list-body">

                <p-table [value]="listStudent" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" #dt1
                    dataKey="maKyThi" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 15, 25]"
                    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [globalFilterFields]="['tenDangNhap', 'hoVaTen', 'ngaySinh','gioiTinh', 'diaChi','lopThi.maLopThi','canCuocCongDan']">

                    <ng-template pTemplate="caption">
                        <div class="group-header-table ">
                            <div class="inport">
                                <button type="buttưon" pButton pRipple class="btn btn-success mr-2 text-light"
                                    pTooltip="XLS" tooltipPosition="bottom">Xuất file
                                    Excel</button>

                                <p-columnFilter class="columnFilterGioiTinh" field="gioiTinh" matchMode="equals"
                                    [showMenu]="false">
                                    <ng-template pTemplate="filter" let-label let-filter="filterCallback">
                                        <p-dropdown [ngModel]="label" [options]="gioiTinh"
                                            (onChange)="filter($event.value)" placeholder="Giới tính"
                                            [showClear]="true">
                                            <ng-template let-option pTemplate="item">
                                                <span class="ml-1 mt-1">{{ option.label }}</span>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>

                                <p-columnFilter class="columnFilterTrangThai" field="trangThai" matchMode="equals"
                                    [showMenu]="false">
                                    <ng-template pTemplate="filter" let-label let-filter="filterCallback">
                                        <p-dropdown [ngModel]="label" [options]="trangThai"
                                            (onChange)="filter($event.value)" placeholder="Trạng thái"
                                            [showClear]="true">
                                            <ng-template let-option pTemplate="item">
                                                <span class="ml-1 mt-1">{{ option.label }}</span>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>

                                <p-columnFilter class="columnFilterTrangThai" field="lopThi.maLopThi" matchMode="equals"
                                    [showMenu]="false">
                                    <ng-template pTemplate="filter" let-label let-filter="filterCallback">
                                        <p-dropdown [ngModel]="label" [options]="lopThi"
                                            (onChange)="filter($event.value)" placeholder="Lớp thi" [showClear]="true">
                                            <ng-template let-option pTemplate="item">
                                                <span class="ml-1 mt-1">{{ option.label }}</span>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>

                            </div>
                            <div class="form-search">
                                <form class="w-100" [formGroup]="formFilter">
                                    <div class="input-group mb-3">
                                        <button (click)="dt1.filterGlobal(getValueSearch(), 'contains')"
                                            class="btn btn-outline-secondary box-shadow-none" type="button"
                                            id="button-search"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                height="20" viewBox="0 0 20 20" fill="none">
                                                <path
                                                    d="M17.5 17.5L13.875 13.875M15.8333 9.16667C15.8333 12.8486 12.8486 15.8333 9.16667 15.8333C5.48477 15.8333 2.5 12.8486 2.5 9.16667C2.5 5.48477 5.48477 2.5 9.16667 2.5C12.8486 2.5 15.8333 5.48477 15.8333 9.16667Z"
                                                    stroke="#667085" stroke-width="1.66667" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg></button>
                                        <input pInputText type="text"
                                            (change)="dt1.filterGlobal(getValueSearch(), 'contains')"
                                            formControlName="search" class="form-control box-shadow-none"
                                            placeholder="Tìm kiếm" aria-label="Example text with button addon"
                                            aria-describedby="button-search">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header" class="theader">
                        <th style="min-width:150px; text-align: center;" pSortableColumn="tenDangNhap"> Tên đăng nhập
                            <p-sortIcon field="tenDangNhap"></p-sortIcon>
                        </th>
                        <th style="min-width:150px; text-align: center">Mật khẩu</th>
                        <th style="min-width:150px; text-align: center" pSortableColumn="trangThai">Trạng thái
                            <p-sortIcon field="trangThai"></p-sortIcon>
                        </th>

                        <th style="min-width:150px; text-align: center" pSortableColumn="hoVaTen">Tên học sinh
                            <p-sortIcon field="hoVaTen"></p-sortIcon>
                        </th>

                        <th style="min-width:150px; text-align: center" pSortableColumn="lopThi.maLopThi">Lớp<p-sortIcon
                                field="lopThi.maLopThi"></p-sortIcon>
                        </th>

                        <th style="min-width:150px; text-align: center" pSortableColumn="canCuocCongDan">Căn cước công
                            dân<p-sortIcon field="canCuocCongDan"></p-sortIcon>
                        </th>
                        <th style="min-width:150px; text-align: center" pSortableColumn="ngaySinh">Năm sinh <p-sortIcon
                                field="ngaySinh"></p-sortIcon></th>
                        <th style="min-width:150px; text-align: center">Giới tính</th>

                        <th style="min-width:150px; text-align: center" pSortableColumn="diaChi">Địa chỉ <p-sortIcon
                                field="diaChi"></p-sortIcon></th>
                        <th style="min-width:150px; text-align: center">Số điện thoại</th>
                        <th style="min-width:150px; text-align: center" pSortableColumn="ngayTaoTaiKhoan">Ngày tạo
                            <p-sortIcon field="ngayTaoTaiKhoan"></p-sortIcon>
                        </th>
                        <th style="min-width:150px; text-align: center">Thao tác</th>
                    </ng-template>
                    <ng-template pTemplate="body" class="tbody" let-student let-rowIndex="rowIndex">
                        <tr>
                            <td class="text-center">{{student.tenDangNhap}}</td>
                            <td class="text-center">{{ maskPassword(student.matKhau) }}</td>

                            <td class="text-center"
                                [ngClass]="{'text-success': student.trangThai == true, 'text-danger': student.trangThai == false }">
                                {{student.trangThai ? 'Còn hoạt động' : 'Dừng hoạt động'}}</td>
                            <td class="text-center">{{student.hoVaTen}}</td>
                            <td class="text-center">{{student.lopThi ? student.lopThi.tenLop : '' }}</td>
                            <td class="text-center">{{student.canCuocCongDan}}</td>
                            <td class="text-center">{{student.ngaySinh | date: 'dd/MM/yyyy'}}</td>
                            <td class="text-center">{{student.gioiTinh ? 'Nam' : 'Nữ'}}</td>
                            <td class="text-center">{{student.diaChi}}</td>
                            <td class="text-center">{{student.soDienThoai}}</td>
                            <td class="text-center">{{student.ngayTaoTaiKhoan | date: 'dd/MM/yyyy'}}</td>
                            <td class="text-center" class="text-center"><button class="btn btn-info text-light"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    (click)="editUser(student.tenDangNhap)">Sửa</button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>





        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <app-create-user></app-create-user>

        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <h3>Tab3</h3>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa tài khoản học sinh</h5>
                </div>
                <form [formGroup]="myForm">
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="tenDangNhap" class="form-label">Tên đăng nhập</label>
                                    <input type="text" class="form-control" formControlName="tenDangNhap"
                                        placeholder="Nhập tên đăng nhập" required [readonly]="true">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="matKhau" class="form-label">Mật khẩu</label>
                                <div class=" flex justify-content-center">
                                    <p-password [toggleMask]="true" formControlName="matKhau"
                                        placeholder="Nhập mật khẩu"
                                        [ngClass]="{'error-input-ng': myForm.get('matKhau').invalid && myForm.get('matKhau').touched}"></p-password>
                                </div>
                                <small
                                    *ngIf="myForm.get('matKhau').hasError('required') && myForm.get('matKhau').touched"
                                    class="error-message">Mật khẩu không được để trống
                                    trống !</small>
                                <small
                                    *ngIf="myForm.get('matKhau').hasError('minlength') && myForm.get('matKhau').touched"
                                    class="error-message">Mật khẩu ít nhất 6 ký tự !</small>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="tenHocSinh" class="form-label">Tên học sinh</label>
                                    <input type="text" class="form-control" formControlName="tenHocSinh"
                                        placeholder="Nhập tên học sinh" required
                                        [ngClass]="{'error-input': myForm.get('tenHocSinh').invalid && myForm.get('tenHocSinh').touched}">

                                    <small
                                        *ngIf="myForm.get('tenHocSinh').hasError('required') && myForm.get('tenHocSinh').touched"
                                        class="error-message">Tên học sinh không được để
                                        trống !</small>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="formattedEndTime" class="form-label">Giới tính</label>
                                    <div class="form-checkbox">
                                        <div class="form-checkbox">
                                            <div class="flex align-items-center">
                                                <p-radioButton name="gioiTinh" [value]="true"
                                                    formControlName="gioiTinh"></p-radioButton>
                                                <label for="ingredient1">Nam</label>
                                            </div>
                                            <div class="flex align-items-center checkbox">
                                                <p-radioButton name="gioiTinh" [value]="false"
                                                    formControlName="gioiTinh"></p-radioButton>
                                                <label for="ingredient2">Nữ</label>
                                            </div>
                                        </div>

                                    </div>

                                    <small
                                        *ngIf="myForm.get('gioiTinh').hasError('required') && myForm.get('gioiTinh').touched"
                                        class="error-message">Vui lòng chọn giới tính !</small>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="diaChi" class="form-label">Địa chỉ (Tỉnh / Thành phố)</label>
                                    <input type="text" class="form-control" name="diaChi" formControlName="diaChi"
                                        placeholder="Nhập địa chỉ" required
                                        [ngClass]="{'error-input': myForm.get('diaChi').invalid && myForm.get('diaChi').touched}">
                                    <small
                                        *ngIf="myForm.get('diaChi').hasError('required') && myForm.get('diaChi').touched"
                                        class="error-message">Địa chỉ không được để trống !</small>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="formattedEndTime" class="form-label">Số điện thoại</label>
                                    <div class="flex justify-content-center">
                                        <p-inputMask mask="9999 999 999" name="soDienThoai"
                                            placeholder="Nhập số điện thoại" formControlName="soDienThoai"
                                            [ngClass]="{'error-input-ng': myForm.get('soDienThoai').invalid && myForm.get('soDienThoai').touched}"></p-inputMask>
                                    </div>
                                    <small
                                        *ngIf="myForm.get('soDienThoai').hasError('required') && myForm.get('soDienThoai').touched"
                                        class="error-message">Số điện thoại không được để trống !</small>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="formattedEndTime" class="form-label">Năm sinh</label>
                                    <div class="flex justify-content-center ngaySinh">
                                        <p-calendar name="ngaySinh" [showIcon]="true" placeholder="Chọn ngày sinh"
                                            formControlName="ngaySinh" dateFormat="dd/mm/yy"
                                            [ngClass]="{'error-input-date': myForm.get('ngaySinh').invalid && myForm.get('ngaySinh').touched}"></p-calendar>
                                    </div>
                                    <small
                                        *ngIf="myForm.get('ngaySinh').hasError('required') && myForm.get('ngaySinh').touched"
                                        class="error-message">Năm sinh không được để trống !</small>
                                    <small
                                        *ngIf="myForm.get('ngaySinh').hasError('invalidBirthDate') && myForm.get('ngaySinh').touched"
                                        class="error-message">
                                        Ngày sinh không được lớn hơn ngày hiện tại !
                                    </small>

                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="diaChi" class="form-label">Email</label>
                                    <input type="text" class="form-control" name="email" formControlName="email"
                                        placeholder="Nhập địa chỉ email" required
                                        [ngClass]="{'error-input': myForm.get('email').invalid && myForm.get('email').touched}">
                                    <small
                                        *ngIf="myForm.get('email').hasError('required') && myForm.get('email').touched"
                                        class="error-message">Địa chỉ email không được để trống !</small>
                                    <small
                                        *ngIf="myForm.get('email').hasError('pattern') && myForm.get('email').touched"
                                        class="error-message">Địa chỉ email sai định dạng !</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="canCuocCongDan" class="form-label">Căn cước công dân</label>
                                    <div class="flex justify-content-center ngaySinh">
                                        <p-inputMask mask="999999999999" id="canCuocCongDan" name="canCuocCongDan"
                                            placeholder="Nhập căn cước công dân" formControlName="canCuocCongDan"
                                            [ngClass]="{'error-input-ng': myForm.get('canCuocCongDan').invalid && myForm.get('canCuocCongDan').touched}"></p-inputMask>
                                    </div>
                                    <small
                                        *ngIf="myForm.get('canCuocCongDan').hasError('required') && myForm.get('canCuocCongDan').touched"
                                        class="error-message">Căn cước công dân không được để trống !</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="formattedEndTime" class="form-label">Trạng thái</label>
                                    <div class="form-checkbox">
                                        <div class="form-checkbox">
                                            <div class="flex align-items-center">
                                                <p-radioButton name="trangThai" [value]="true"
                                                    formControlName="trangThai"></p-radioButton>
                                                <label for="ingredient1">Còn hoạt động</label>
                                            </div>
                                            <div class="flex align-items-center checkbox">
                                                <p-radioButton name="trangThai" [value]="false"
                                                    formControlName="trangThai"></p-radioButton>
                                                <label for="ingredient2">Không còn hoạt động</label>
                                            </div>
                                        </div>

                                    </div>

                                    <small
                                        *ngIf="myForm.get('gioiTinh').hasError('required') && myForm.get('gioiTinh').touched"
                                        class="error-message">Vui lòng chọn giới tính !</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>

                        <button class="btn btn-primary" pButton pRipple (click)="updateUser()">Cập nhật</button>

                        <p-toast></p-toast>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>