<div class="container-fluid mb-5">
  <div class="d-flex">
    <h5 class="mb-4 text-left mt-5" style=" font-family: 'Handlee', cursive;">Danh sách điểm các môn đã thi</h5>
    <div class="btn-export ml-auto">
      <button>Print</button>
      <button>Copy</button>
      <button>Excel</button>
      <button>CSV</button>
      <button>PDF</button>

    </div>
  </div>



  <div class="d-flex flex-column align-items-center justify-content-center">

    <table class="table table-bordered">
      <thead>
        <tr class="bg-primary text-white">
          <th class="d-none d-md-table-cell" scope="col">STT</th>
          <th scope="col">Tên kì thi</th>
          <th scope="col">Môn thi</th>
          <th class="d-none d--table-cell" scope="col">Lớp thi</th>
          <th scope="col">Điểm thi</th>
          <th scope="col">Trạng thái</th>
          <th scope="col">Thao Tác</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="d-none d-md-table-cell" scope="row">1</th>
          <td>HK1 Lớp 11 - 2023</td>
          <td>Toán</td>
          <td class="d-none d-md-cell">11A1</td>
          <td>9.0</td>
          <td style="color: green;">Đạt</td>
          <td>
            <a href="#/user/history">Chi tiết</a>
          </td>
        </tr>

        <tr>
          <th class="d-none d-md-table-cell" scope="row">2</th>
          <td>HK1 Lớp 11 - 2023</td>
          <td>Hóa</td>
          <td class="d-none d-md-cell">11A1</td>
          <td>4.0</td>
          <td style="color: red;">Chưa đạt</td>
          <td>
            <a href="#/user/history">Chi tiết</a>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
