h3 {
    margin: 20px 0 20px;
    font-family: 600;
    font-size: 26px;
}

:host ::ng-deep p-password .p-password {
    width: 100%;
    height: 37.6px;
    // border-radius: 0.375rem;

    border: none;
}

:host ::ng-deep p-password input {
    width: 100%;
    border: 1px solid #b1b7c1;

}

.form-checkbox {
    display: flex;
    justify-content: left;
}

.form-checkbox label {
    margin-left: 10px;
}

.form-checkbox .checkbox {
    margin-left: 15px;
}

:host ::ng-deep .ngaySinh p-calendar span {
    width: 100%;
    height: 37px;
    border-radius: 7px;
}

:host ::ng-deep .ngaySinh p-calendar span button {
    border-radius: 0 7px 7px 0;
}

:host ::ng-deep .p-datepicker-calendar {
    text-align: center;
}


:host ::ng-deep p-inputMask input {
    width: 100%;
    height: 37.6px;
    border: 1px solid #b1b7c1;
}

:host ::ng-deep .error-input {
    border: 1px solid red;
    border-radius: 7px;
}

:host ::ng-deep .error-input-ng input {
    border: 1px solid red;
    border-radius: 7px;
}

:host ::ng-deep .error-input-date input {
    border: 1px solid red;
    border-radius: 7px 0px 0px 7px;
}

:host ::ng-deep .error-input-select .p-treeselect {
    border: 1px solid red;
    border-radius: 7px;
}

.error-message {
    color: red;
}

:host ::ng-deep .form-label {
    font-size: 17px;
}


:host ::ng-deep p-treenode li {
    margin: 0;
    padding: 0;
}

:host ::ng-deep p-treeselect .p-treeselect-label {

    height: 42px;
    // width: 150px;
    width: 100%;
}

:host ::ng-deep p-treeselect .p-treeselect {
    height: 42px;
    width: 100%;
}
:host ::ng-deep p-calendar span {
    width: 100%;
    height: 42px;
    border-radius: 7px;
}

:host ::ng-deep p-tree .p-tree {
    z-index: 99;
}

